.lane{
    width: 272px;
    background-color: #f1f2f4;
    border-radius: 5px;
    overflow: auto;
    min-height: 100px;
    /* Múltiples sombras */
    box-shadow: 0px 1px 1px #091e4240, 0px 0px 1px #091e424f;
    padding: .4rem;
}